.body-container {
    background: linear-gradient(to top right, #29CF7C, #84E475, #C7F36F, #FBFF6B);
    padding-bottom: 0.25rem;
}

.about-heading {
  font-size: 2rem;
  padding-top: 1.5rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.about-contents {
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.35rem;
  padding-bottom: 1.5rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0;
  padding-top: 1rem;
  font-size: 1rem;
}

@media only screen and (min-width : 1281px) {
  .body-container {
    padding-bottom: 6rem;
  }
}

@media (max-width: 992px) {
  .about-contents{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 0.92rem;
  }
}

@media (max-width: 768px) {
  .about-contents{
    font-size: 0.85rem;
  }
}
