.error-background {
  background: #FFFFFF;
  height: 100vh;
  width: 100vw;
}

.error-message {
  font-family: 'Playfair Display', serif;
  padding-top: 5rem;;
  font-size: 5rem;
}

.not-found-message {
  font-family: 'Playfair Display', serif;
  padding-top: 1rem;
  font-size: 1.25rem;
}

.broken-car {
  width: 15rem;
  display: block;
  margin: auto;
}

.home-button {
  color: black;
  outline: none;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.home-button:hover {
  text-decoration: none;
  color: #024966;
}
