.social-media-nav-bar {
  list-style: none;
  text-align: center;
  width: 100%;
  background: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  padding-left: 1rem;
}

.social-media-nav {
	display: inline;
  padding-right: 1rem;
}

.social-media-btns {
  width: 1.25rem;
}

.copyrights {
  background: transparent;
  text-align: center;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .footer {
    .social-media-buttons {
    }
  }
}
