.menu-bar {
  background: #000000;
  height: 2.5rem;
}

.menu-list {
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: center;
    list-style: none;
}

.menu-items {
  display: inline;
  padding-right: 3rem
}

.nav-btns {
  color: #FFFFFF;
  font-size: 1.25rem;
  text-decoration: none;
}

.nav-btns:hover {
  color: #D46F22;
}

@media (max-width: 768px) {
  .nav-btns {
    font-size: 1rem;
  }
  .menu-items {
    display: inline;
    padding-right: 1.5rem
  }
  .menu-list {
    padding-left: 1.2rem;
  }
}
